<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5 justify-content-center">
        <div class="row justify-content-center">
            <form action="/SignIn" method="GET">
                <div class="text-center text-muted">
                    <h4 class="fw-ligther">EJS REGISTATION FORM</h4>
                </div>
            <div class="col-md-6 col-lg-12">
                <button type="submit" class="submit btn btn-success">GET STARTED....</button>
            </div>
        </form>
       </div> 
  </div>
</body>
</html>